/terraform/secrets.tfvars
/terraform/infrastructure/.terraform.lock.hcl
/terraform/infrastructure/.terraform.tfstate.lock.info
*backend.conf
*.terraform/
*.tfstate
*.backup
*kubeconfig
*talosconfig
*.secret
/ansible/playbooks/vars.yml
/ansible/group_vars/all.yml
.direnv
*talosctl
