/terraform/secrets.auto.tfvars
/terraform/.terraform.lock.hcl
/terraform/backend.conf
/terraform/.terraform/
/terraform/*.tfstate
/terraform/*.backup
/terraform/kubeconfig
/terraform/talosconfig
*.secret
/ansible/playbooks/vars.yml
/ansible/group_vars/all.yml
/talos/talosconfig
/talos/controlplane.yaml
/talos/worker.yaml
