services:
  n8n:
    image: n8nio/n8n
    container_name: n8n
    restart: unless-stopped
    environment:
      - TZ=America/Chicago
      - WEBHOOK_URL=https://n8n.rupan.dev/
      - N8N_HOST=n8n.rupan.dev
      - N8N_PORT=5678
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - cloudflare_net

volumes:
  n8n_data:
    external: true

networks:
  cloudflare_net:
    external: true
