services:

  glance:
    container_name: glance
    image: glanceapp/glance
    restart: unless-stopped
    volumes:
      - /${HOME}/homelab/configs/glance:/app/config
      - ./assets:/app/assets
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 8080:8080
    env_file: .env
    networks:
      - cloudflare_net

networks:
  default:
  cloudflare_net:
    external: true