services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    environment:
      TZ: 'America/Chicago'
      FTLCONF_webserver_api_password: ${PASSWORD}
      FTLCONF_dns_listeningMode: 'all'
      VIRTUAL_HOST: 'pihole.rupan.dev'
    volumes:
      - './pihole/etc-pihole:/etc/pihole'
      - './pihole/etc-dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    restart: unless-stopped
    networks:
      - cloudflare_net

networks:
  cloudflare_net:
    external: true
