services:
  rupan-api:
    build: ./rupan-api
    container_name: rupan-api
    restart: unless-stopped
    ports:
      - "9000:9000"
    networks:
      - homelab_default
  homelab-api:
    build: ./homelab-api
    container_name: homelab-api
    restart: unless-stopped
    ports:
      - "9200:9200"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - homelab_default

networks:
  homelab_default:
    external: true
