services:
  rupan-api:
    build: ./rupan-api
    container_name: rupan-api
    restart: unless-stopped
    expose:
      - "9000"
    networks:
      - homelab

networks:
  homelab:
    external: true
