services:
  rupan-api:
    build: ./rupan-api
    container_name: rupan-api
    restart: unless-stopped
    ports:
      - "9000:9000"
    networks:
      - homelab_default

networks:
  homelab_default:
    external: true
