services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=ac82eb54-55d1-45d9-9ddd-60abe28d1f50
    network_mode: host
